/* ========================================== */

/**
* Brand colours
*/

$brand-dark-blue: #22272E;
$brand-gold: #BDA817;
$brand-red: #AD3430;
$brand-gray: #CDCFD6;
$brand-light-gray: #f6f6f6;
$brand-white: #FFFFFF;
$brand-green: #128e84;

$color-grey: #128e84;
$color-light-yellow: #f4efde;
$color-yellow: #1bbdb0;
$color-light-green: #77e069;
$color-dark-green: #2d8432;

/* ========================================== */

/**
* Fonts
*/

$league: 'league-gothic', sans-serif; // used for headings
$nimbus: 'nimbus-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; // used for body

/* ========================================== */
